.container {
  width: 85%;
  border: 1px solid;
  background-color: #f2f2f2;
}

.header-bg {
  width: 100%;
  height: 100%;
  height: calc(100% - 1px);
  background-size: cover;
}

.well {
  position: relative;
  background: #000 url("https://s3.amazonaws.com/videoblocks-content/video/thumbnail/HPOKFbR/abstract-animated-computer-script-programming-code-as-technology-background-1920x1080-full-hd-footage_qktlwvii__M0000.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.result {
  border: 1px solid;
  border-color: #999999;
  border-radius: 4px;
  padding-bottom: 5em;
  padding-top: 1em;
  margin-top: 2em;
}

.btn {
  margin: 5px;
}

.fadetext {
  display: none;
}

#hidden {
  display: none;
  background-color: #cccccc;
}

h1 {
  color: red;
}

h4 {
  padding-top: 1px;
}

body {
  padding-bottom: 20px;
  margin-bottom: 5px;
}
